In [3]:
import pandas as pd

df = pd.read_csv('../data/raw/marketing_campaign.csv')

df.head()

  ID;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;AcceptedCmp3;AcceptedCmp4;AcceptedCmp5;AcceptedCmp1;AcceptedCmp2;Complain;Z_CostContact;Z_Revenue;Response
0  5524;1957;Graduation;Single;58138;0;0;2012-09-...
1  2174;1954;Graduation;Single;46344;1;1;2014-03-...
2  4141;1965;Graduation;Together;71613;0;0;2013-0...
3  6182;1984;Graduation;Together;26646;1;0;2014-0...
4  5324;1981;PhD;Married;58293;1;0;2014-01-19;94;...

In [4]:
df.isnull().sum()

ID;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;AcceptedCmp3;AcceptedCmp4;AcceptedCmp5;AcceptedCmp1;AcceptedCmp2;Complain;Z_CostContact;Z_Revenue;Response    0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)