In [4]:
import pandas as pd

df = pd.read_csv('../data/raw/attendance.csv')

df.head()

  Student_ID        Date    Subject Attendance_Status
0     S06592  2024-09-20     Arabic           Present
1     S01777  2025-01-22       Math           Present
2     S07362  2024-12-03  Geography          PRESENT
3     S12119  2024-03-16  Geography           excused
4     S02002  2024-05-24       Math          PRESENT